@import 'bower_components/reset-css/_reset';
@import '_fonts.scss';

$xs: 450px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xlg:1450px;


*{
  box-sizing:border-box;
  font-family: inherit;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  font-family: 'Diaria Sans Pro', sans-serif;
}
.button{
  border-radius: 5px;
  border: 1px solid #3d3d3d;
}
.clearfix{
  clear: both;
}

.wrapper {
  overflow: hidden;
  padding: 0 15px;
  margin: 0 auto;
  width: 1440px;
  @media (max-width: $xlg) {
    width: 1170px;
    padding: 0 30px;
  }
  @media (max-width: $lg) {
    width: 970px;
  }
  @media (max-width: $md) {
    width: 750px;
  }
  @media (max-width: $xs) {
    width: 350px;
  }
}

.block{
  overflow: hidden;
  background: no-repeat;
  background-position-y: bottom;

  &-entry{
    background-color: #000;
    color: #fff;
    background-image: url(../img/bgEntry.jpg);
    @media (min-width: $xlg) {
      background-position: 20% 0;
    }
    @media (max-width: $lg) {
      background-position-x: -140px;
    }
    @media (max-width: $sm) {
      background-position: -70px 60px;
    }
    @media (max-width: $xs) {
      background-position: -210px 60px;
    }

  }
  &-slider{
    background-color: #000;
    color: #fff;
    background-image: url(../img/slide1.jpg);
    @media (max-width: $xs) {
      background-position: -210px 400px;
    }

  }
  &-parallax{
    height: 366px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: $xs) {
      background-position: -250px 0;
    }
  }
  &-personal{
    background-color: #000;
    color: #fff;
    overflow: hidden;
    padding: 200px 0 200px 57px;
    @media (max-width: $xs) {
      padding: 50px 0 200px 0px;
    }

    &-item{
      float: left;
      padding-right: 75px;
      @media (max-width: $xlg) {
        padding-right: 49px;
        max-width: 61%;
      }
      @media (max-width: $lg) {
        max-width: 48%;
      }
      @media (max-width: $xs) {
        max-width: 100%;
      }
    }
  }
  &-footer{
    background-color: #262626;
    color: #c0c0c0;
  }
  &-about{
    background-image: url(../img/backg-about.jpg);
    background-position-x: -280px;
        background-color: black;
        color: #fff;
  }
  &-discount{
    background-color: #000;
    color: #fff;
  }
  &-partnership{
    padding: 85px 0;
  }
  &-courses{
    background-color: #000;
    color: #fff;
  }
  &-faq{
    background-color: #000;
    color: #fff;
  }
  &-partner{
    background-color: #000;
    color: #fff;
  }
}

.header{
  padding-top: 35px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
  @media (max-width: $lg) {
    font-size: 13px;
  }
  @media (max-width: $xs) {
    padding-top: 15px;
    background: rgba(0,0,0,0.9);
    margin: 0 -30px;
  }

  &__logo{
    float: left;
    padding: 8px 198px 0 77px;
    @media (max-width: $xlg) {
      padding: 8px 100px 0 0;
    }
    @media (max-width: $lg) {
      padding: 8px 33px 0 0;
    }
  }
  &__menu{
    padding-top: 13px;
    float: left;
    padding-right: 131px;
    @media (max-width: $lg) {
      padding-right: 47px;
    }
    @media (max-width: $xs) {
      clear: both;
      width: 100%;
      text-align: center;
      padding-right: 0;
      display: none;
    }
    li{
      display: inline-block;
      &:not(:last-child){
        padding-right: 35px;
        @media (max-width: $xs) {
          padding-right: 0;
        }
      }
      @media (max-width: $xs) {
        display: block;
        padding: 18px 0;
        font-size: 20px;
      }
    }
  }
  &__button{
    width: 164px;
    height: 39px;
    float: left;
    padding:12px 22px;
    @media (max-width: $xs) {
      width: 110px;
      position: absolute;
      right: 65px;
      padding: 12px 2px;
    }

  }
}

.entry{

  padding:150px 270px 228px 740px;

  @media (max-width: $xlg) {
    padding: 150px 140px 228px 590px;
  }
  @media (max-width: $lg) {
    padding: 150px 0px 228px 480px;
  }
  @media (max-width: $md) {
    padding: 150px 140px 228px 30px;
  }
  @media (max-width: $sm) {
    padding: 830px 150px 130px 120px;
  }
  @media (max-width: $xs) {
    padding: 890px 0px 130px 0px;
  }


  &__heading{
    font-size: 50px;
    line-height: 65px;
    text-align: left;
    font-weight: 300;
    padding-bottom: 35px;
  }
  &__descr{
    padding-bottom: 62px;
    line-height: 29px;
    color: #bbbbbb;
  }
  &__button{
    padding: 13px 42px;
  }
}

.blockquote{
  padding: 164px 150px  246px 291px;
  @media (max-width: $xlg) {
    padding: 164px 100px 246px 161px;
  }
  @media (max-width: $xs) {
    padding: 40px 0px 68px 0px;
  }

  &__img{
    position: relative;
    right: 139px;
    top: 120px;
    @media (max-width: $xs) {
      right: 39px;
      top: 20px;
    }
  }
  &__heading{
    font-size: 34px;
    line-height: 54.25px;
    padding-top: 5px;
    padding-bottom: 90px;
  }
  &__descr{
    font-size: 20px;
    padding-bottom: 13px;
  }
  &__link{
    font-size: 15px;
    color: #a1a1a1;
  }
}

.slider{
  padding: 320px 123px 99px 662px;
  @media (max-width: $lg){
    padding: 315px 3px 99px 582px;
  }
  @media (min-width: $xlg) {
    padding: 320px  213px 99px 852px;
  }
  @media (max-width: $md){
    padding: 315px 3px 99px 30px;
  }
  @media (max-width: $xs){
    padding: 86px 0px 675px 0px;
  }



  &__heading{
    font-size: 38px;
    line-height: 55px;
    padding-bottom: 29px;
  }
  &__descr{
    font-size: 16px;
    line-height: 28px;
    color: #bbbbbb;
    padding-bottom: 61px;
  }
}

.advantages{
  padding: 67px 0 203px 0;
  @media (max-width: $xs) {
    padding-bottom: 0;
  }

  &__heading{
    color: #cecece;
    font-size: 16px;
    padding-bottom: 172px;
    @media (max-width: $xs) {
      padding-bottom: 62px;
    }
  }
  &__items{
    overflow: hidden;
  }
}

.adv{
  max-width: 22%;
  float: left;

  &:not(:last-child){
    margin-right: 220px;

    @media (max-width: $xlg) {
      margin-right: 70px;
    }
  }
  @media (max-width: $xlg) {
    max-width: 28%;
  }
  @media (max-width: $xs) {
    float: none;
    max-width: 100%;
    margin-right: 0 !important;
    margin-bottom: 100px;
  }
  &__num{
    color: #ff81a2;
    font-size: 77px;
    padding-bottom: 53px;
    font-weight: 200;
    @media (max-width: $xs) {
      padding-bottom: 23px;
    }
  }
  &__heading{
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 37px;
  }
  &__descr{
    font-size: 14px;
    color: #656565;
    line-height: 24px;
  }
}
.personal{
  max-width: 422px;
  &__heading{
    font-size: 38px;
    padding-bottom: 45px;
    padding-top: 83px;
    @media (max-width: $xlg) {
      padding-top: 43px;
    }
  }
  &__descr{
    color: #bbbbbb;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 67px;
  }
  &__slides li{
    display: inline-block;
    &:not(:last-child){
      padding-right: 54px;
    }
  }
}
.wrap-personal{
  @media (max-width: $xs) {
    padding-top: 43px;
    display: flex;
    flex-direction: column-reverse;
  }
}
.courses{
  padding: 190px 0 177px;
  &__heading{
    font-size: 38px;
    padding-bottom: 19px;
  }
  &__descr{
    font-size: 15px;
    color: #bbbbbb;
    padding-bottom: 69px;
  }
}

.configurator{
  width: 85%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 13px;
  background-color: #232323;
  padding-bottom: 57px;
  padding-top: 52px;
  margin-bottom: 58px;
  @media (max-width: $xlg){
    width: 100%;
  }
  &__content{
    border-right: 1px dashed #3b3b3b;
    float: left;
    padding: 0 37px;
    display: flex;
    flex-direction: column;
    @media (max-width: $xlg){
      padding: 0 15px
    }
    @media (max-width: $lg){
      float: none;
      align-items: center;
      margin-bottom: 20px;
    }
    @media (max-width: $sm){
      float: left;
    }
  }
  &__sidebar{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    float: left;
    padding: 0 40px;
    @media (max-width: $xlg){
      padding: 0 15px
    }
    @media (max-width: $lg){
      flex-direction: row;
      float: none;
    }
    @media (max-width: $xs){
      align-items: center;
      flex-direction: column;
    }
  }
}


.choose{

  overflow: hidden;
  &:not(:last-child){
    padding-bottom: 45px;
  }

  &-main{
    overflow: hidden;
    padding-bottom: 71px !important;
    .choose__button{
      width: 256px;
      height: 45px;
      padding: 17px 110px 14px 20px;
      &:not(:last-child){
        margin-right: 19px;

      }
    }
    .choose__heading{
      padding-bottom: 29px;
      padding-left: 21px;
    }
  }
  &__heading{
    padding-bottom: 19px;
    padding-left: 21px;
    font-size: 26px;

  }
  &__items{
    overflow: hidden;
  }
  &__button{
    font-size: 14px;
    float: left;
    width: 257px;
    height: 218px;
    padding: 27px 22px 0 21px;
    &:not(:last-child){
      margin-right: 19px;
      @media (max-width: $xs){
        margin-bottom: 15px;
      }
    }
    &-heading{
      font-size: 15px;
      font-weight: 500;
      padding-bottom: 22px;
    }
    &-descr{
      color: #d0d0d0;
      font-size: 11px;
      line-height: 17px;
    }
  }
}

.sidebar{
  &__heading{
    font-size: 26px;
    padding-bottom: 22px;
  }
  &__item{
    & li{
      color: #d0d0d0;
      font-size: 12px;
      padding-bottom: 11px;
      max-width: 193px;
      line-height: 16px;
    }
    &1{
      padding-bottom: 34px;
    }
    &2{
      padding-bottom: 43px;
    }
    &3{
      padding-bottom: 52px;
    }
  }
  &__price{

  }
  &__num{
    font-size: 40px;
    font-weight: 200;
    display: inline-block;
    padding-right: 15px;
  }
  &__act{
    border-bottom: 1px dashed #9d9d9d;
    display: inline-block;
    color: #d0d0d0;
    font-size: 12px;
  }
}

.pay{
  &__heading{
    color: #d0d0d0;
    font-size: 12px;
    padding-bottom: 14px;
    text-align: center;
  }
  &__button{
    padding: 12px 47px;
    text-align: center;
    display: block;
    width: 205px;
    height: 39px;
    &:not(:last-child){
      margin-bottom: 17px;
    }
  }
}

.feedback{
  padding-top: 162px;
  padding-bottom: 150px;
  &__heading{
    font-size: 38px;
    padding-bottom: 34px;
  }
  &__descr{
    font-size: 14px;
    color: #656565;
    line-height: 25px;
    padding-bottom: 83px;
  }
  &__line{
    height: 2px;
    background-color: #ececec;
  }
  &__items{
    overflow: hidden;
    padding-bottom: 95px;
  }
}

.review{
  max-width: 50%;
  float: left;
  &:not(:last-child){
    padding-right: 68px;
  }
  &__text{
    padding: 37px 83px 39px 41px;
    font-size: 14px;
    border-radius: 25px;
    background-color: #f7f7f7;
    @media (max-width: $xlg){
      min-height: 244px;
    }
    @media (max-width: $lg){
      min-height: 269px;
    }
    @media (max-width: $md){
      min-height: 388px;
    }
  }
  &__heading{
    line-height: 24px;
    padding-bottom: 35px;
  }
  &__descr{
    text-decoration: underline;
    color: #656565;
  }
  &__triangle{
    position: relative;
    bottom: 47px;
    left: 34px;
  }
  &__image{
    box-shadow: 0 18px 36px 2px rgba(254, 96, 159, 0.3);
    border-radius: 100px;
    position: relative;
    right: 45px;
    top: 46px;
    max-width: 70px;
  }
}

.faq{
  overflow: hidden;
  padding: 165px 0 179px;
  &__heading{
    font-size: 38px;
    padding-bottom: 44px;
  }
  &__col{
    float: left;
    max-width: 50%;
    @media (max-width: $xs){
      float: none;
      max-width: 100%;
    }
    &:first-child{
      padding-right: 88px;
      @media (max-width: $xs){
        padding-right: 0;
      }
    }
  }
}

.question{
  padding-left: 30px;
  cursor: pointer;
  &:not(.question-active):hover{
    color: #fe609f;
  }
  &:hover .question__arrow{

  }
  &-active{
    padding: 29px 8px 30px 31px;
    border-radius: 8px;
    background-color: #1e1e1e;
    margin-top: -29px;
    .question__descr{
      display: block;
    }
  }
  &:not(:nth-child(6n)){
    margin-bottom: 35px;
  }
  &__heading{
    padding-bottom: 21px;
  }
  &__arrow{


  }
  &__descr{
    font-size: 14px;
    line-height: 24px;
    display: none;
  }
}

.advice{
  overflow: hidden;
  padding: 165px 0 187px;
  @media (max-width: $xs){
    padding: 85px 0 97px;
  }

  &__heading{
    font-size: 38px;
    padding-bottom: 54px;
  }
  &__img{
    display: block;
    float: left;
    max-width: 55%;
    margin-right: 79px;
    box-shadow: 0 3px 49px 8px rgba(25, 25, 25, 0.22);
    @media (max-width: $xs){
      float: none;
      max-width: 100%;
      margin-right: 0;
    }
  }
  &__text{
    max-width: 35%;
    float: left;
    @media (max-width: $xs){
      float: none;
      max-width: 100%;
    }
  }
}

.guideline{
  padding-top: 139px;
  &__heading{
    font-size: 30px;
    padding-bottom: 31px;
  }
  &__descr{
    font-size: 14px;
    line-height: 26px;
    color: #656565;
    padding-right: 119px;
    @media (max-width: $xs){
      padding-right: 0;
    }
  }
}

.partners{
  padding: 165px 0 196px;
  &__heading{
    font-size: 38px;
    padding-bottom: 110px;
  }
  &__row:not(:last-child){
    padding-bottom: 155px;
  }
  &__img:not(:last-child){
    padding-right: 200px;
    @media (max-width: $xlg) {
      padding-right: 134px;
    }
    @media (max-width: $lg) {
      padding-right: 75px;
    }
  }
}

.footer{
  padding: 48px 0;
  & p{
    display: inline-block;
    min-width: 33%;
  }
  &__copy{
    text-align: center;
    & img{
      position: relative;
      top: 8px;
      right: 13px;
    }
  }
  &__email{
    text-align: right;
  }
}

.about{
  padding: 196px 159px 192px 708px;
  @media (max-width: $xlg) {
    padding: 196px 9px 192px 528px;
  }
  &__heading{
    font-size: 38px;
    padding-bottom: 39px;
  }
  &__descr{
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 31px;
  }
  &__link{
    font-size: 16px;
    border-bottom: 1px dashed #949494;
  }
  &__close{
    position: absolute;
    top: 50px;
    right: 50px;
  }
  &__coach{
    position: absolute;
    left: 15%;
    p{
      text-align: center;
    }
    img{
      max-width: 295px;
    }
    &-2{
      top: 570px;
    }
  }
}

.discount{
  padding: 262px 0 271px;
  &__heading{
    font-size: 26px;
    float: left;
    padding: 0 156px 57px 0;
  }
  &__descr{
    font-size: 14px;
    line-height: 23px;
    color: #bbbbbb;
    float: left;
  }
  form{
    max-width: 700px;
    margin: 0 auto;
  }
  input{
    border: 1px solid #464646;
    border-radius: 5px;
    background-color: black;
    width: 327px;
    height: 45px;
    padding-left: 24px;
    color: #fff;
    padding-top: 3px;
    &:focus{
      outline-color:#fe609f;
    }
  }

  &__button{
    width: 697px;
    height: 56px;
    background-color: #fe609f;
    box-shadow: 0 5px 34px 1px rgba(254, 96, 159, 0.29);
    font-size: 18px;
    color: #ffffff;
  }
  .first{
    margin-right: 42px;
    margin-bottom: 27px;
  }
  .second{
    margin-bottom: 27px;
  }
  .third{
    margin-right: 42px;
    margin-bottom: 45px;
  }
  .fourth{
    margin-bottom: 45px;
  }

}

//TODO pereverstat' ety huety
.partnership{
  max-width: 1070px;
  margin: 0 auto;
  &__heading{
    font-size: 26px;
    padding-bottom: 24px;
  }
  &__descr{
    font-size: 14px;
    color: #bbbbbb;
    font-size: 14px;
    line-height: 23px;
    p{
      max-width: 515px;
      float: left;
      padding-bottom: 63px;
      &:first-child{
        width: 402px;
        margin-right: 153px;
      }
    }
    span{
      font-size: 38px;
      padding: 0 13px;
    }
  }
  &__item{
    overflow: hidden;
  }
  &__img{
    float: left;
    overflow: hidden;
    &:not(:last-child){
      margin-right: 155px;
    }
    img{
      padding-bottom: 14px;
    }
    p{
      color: #bbbbbb;
      font-size: 14px;
    }
  }
  &__button{
    background-color: #fe609f;
    width: 252px;
    height: 45px;
    color: #ffffff;
    margin-top: 76px;
  }
}


/*   MENU ICON
/*-----------------------------------------------------------------------------------*/

.nav-bars {
  width: 30px;
  height: 30px;
  display: none;
  @media (max-width: $xs){
    position: absolute;
    top: 15px;
    right: 25px;
    display: block;
  }
  span {
    display: block;
    width: inherit;
    position: absolute;
    top: 13px;
    left: 0px;
    right: 0px;
    height: 3px;
    background: #2e2e2e;
    transition: background 0s 0.3s;
    &::before,&::after{
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #2e2e2e;
      content: "";
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }
    &::before{
      top: -8px;
      transition-property: top, transform;
    }
    &::after{
      bottom: -8px;
      transition-property: bottom, transform;
    }
  }
  &.is-active span {
    background: none;
    transition-delay: 0s, 0.3s;
    &::before,&::after{
      transition-delay: 0s, 0.3s;
    }
    &::before{
      top: 0;
      transform: rotate(45deg);
    }
    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}
/*   MENU ICON />
/*-----------------------------------------------------------------------------------*/

#small-dialog {
  width: 100vw;
  height: 100vh;
}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-in-out;
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	transform: scale(0.8);
	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
