@import 'bower_components/reset-css/_reset';
@import '_fonts.scss';
@import 'bower_components/swiper/dist/css/swiper.min';

$xs: 550px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xlg:1450px;


*{
  box-sizing:border-box;
  font-family: inherit;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  font-family: 'Diaria Sans Pro', sans-serif;
      @media(min-width: $sm){
        overflow-y: scroll !important;
      }
}

.button{
  border-radius: 10px;
  border: 1px solid #3d3d3d;
  transition: background .3s;
  cursor: pointer;
  &-active{
    background-color: #fe609f;
    box-shadow: 0px 5px 33.6px 1.4px rgba(254, 96, 159, 0.29);
  }
  &-disabled{
    pointer-events: none;
    opacity: 0.4;
    @media (max-width: $md){
      display: none;
    }
  }
}
.clearfix{
  clear: both;
}

.wrapper {
  overflow: hidden;
  padding: 0 15px;
  margin: 0 auto;
  width: 1440px;
  @media (max-width: $xlg) {
    width: 1170px;
    // padding: 0 30px;
  }
  @media (max-width: $lg) {
    width: 970px;
  }
  @media (max-width: $md) {
    width: 550px;
  }
  @media (max-width: $xs) {
    width: 350px;
  }
}

.block{
  overflow: hidden;
  background: no-repeat;
  background-position-y: bottom;

  &-entry{
    background-color: #000;
    color: #fff;
    background-image: url(../img/bgEntry.jpg);
    @media (min-width: $xlg) {
      background-position: 20% 0;
    }
    @media (max-width: $lg) {
      background-position-x: -140px;
    }
    @media (max-width: $sm) {
      background-position: -70px 60px;
    }
    @media (max-width: $xs) {
      background-position: -210px 60px;
    }

  }
  &-slider1{
    background-color: #000;
    color: #fff;
    background-image: url(../img/slide1.jpg);
    @media (max-width: $md) {
      background-position: -80px 400px
    }
    @media (max-width: $xs) {
      background-position: -210px 450px;
    }

  }
  &-slider2{
    background-color: #000;
    color: #fff;
    background-image: url(../img/slide2.jpg);
    @media (max-width: $md) {
      background-position: -210px 277px;
    }
    @media (max-width: $xs) {
      background-position: -210px 450px;
    }
  }
  &-parallax{
    min-height: 366px;
    background: transparent;
    // background-attachment: fixed;
    // background-repeat: no-repeat;
    // background-size: cover;
    // @media (max-width: $xs) {
    //   background-position: -250px 0;
    // }
  }
  &-personal{
    background-color: #000;
    color: #fff;
    overflow: hidden;
    padding: 200px 0 200px 0;
    position: relative;
    @media (max-width: $md){
      padding: 200px 0 740px 0;
    }
    @media (max-width: $xs) {
      padding: 50px 0 670px 0px;
    }
    &-item{
      float: left;
      padding-right: 75px;
      @media (max-width: $xlg) {
        padding-right: 49px;
        // max-width: 61%;
      }
      @media (max-width: $lg) {
        // max-width: 63%;
      }
      @media (max-width: $md) {
        float: none;
        padding-right: 0;
        max-width: 100%;
      }

    }
  }
  &-footer{
    background-color: #262626;
    color: #c0c0c0;
  }
  &-about{
    background-image: url(../img/backg-about.jpg);
    background-position-x: -280px;
    background-color: black;
    color: #fff;
    @media (max-width: $lg){
      background-position: -390px;
    }
    @media (max-width: $md){
      background-image: none;
    }

  }
  &-discount{
    background-color: #000;
    color: #fff;
  }
  &-partnership{
    background-color: #000;
    color: #fff;
    padding: 85px 0;
  }
  &-courses{
    background-color: #000;
    color: #fff;
  }
  &-faq{
    background-color: #000;
    color: #fff;
  }
  &-partner{
    background-color: #000;
    color: #fff;
  }
  &-form{
    background: #000;
    color: #fff;
  }
}

.header{
  position: fixed;
  top: 0;
  left: 0px;
  background: rgba(0,0,0,0.7);
  width: 100%;
  z-index: 999;
  padding: 15px 0 15px 25px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
  @media (max-width: $lg) {
    font-size: 13px;
  }
  @media (max-width: $xs) {
    padding-top: 15px;
    background: rgba(0,0,0,0.9);
    // margin: 0 -30px;
  }

  &__logo{
    float: left;
    padding: 8px 198px 0 77px;
    @media (max-width: $xlg) {
      padding: 8px 100px 0 0;
    }
    @media (max-width: $lg) {
      padding: 8px 33px 0 0;
    }
  }
  &__menu{
    padding-top: 13px;
    float: left;
    padding-right: 131px;
    @media (max-width: $lg) {
      padding-right: 47px;
    }
    @media (max-width: $md) {
      clear: both;
      width: 100%;
      text-align: center;
      padding-right: 0;
      display: none;
    }
    li{
      display: inline-block;
      &:not(:last-child){
        padding-right: 35px;
        @media (max-width: $xs) {
          padding-right: 0;
        }
      }
      @media (max-width: $xs) {
        display: block;
        padding: 18px 0;
        font-size: 20px;
      }
    }
  }
  &__button{
    width: 164px;
    height: 39px;
    float: left;
    padding:13px 23px;
    &:hover{
      background-color: #fe609f;
      box-shadow: 0px 5px 33.6px 1.4px rgba(254, 96, 159, 0.29);
    }
    @media (max-width: $xs) {
      width: 110px;
      position: absolute;
      right: 65px;
      padding: 13px 10px;
      font-size: 11px;
    }
  }
}

.entry{

  padding:240px 270px 228px 740px;

  @media (max-width: $xlg) {
    padding: 240px 140px 228px 590px;
  }
  @media (max-width: $lg) {
    padding: 240px 0px 228px 480px;
  }
  @media (max-width: $md) {
    padding: 240px 0px 228px 190px;
    // padding: 150px 140px 228px 30px;
  }
  @media (max-width: $sm) {
    padding: 940px 150px 130px 120px;
  }
  @media (max-width: $xs) {
    padding: 940px 0px 130px 0px;
  }


  &__heading{
    font-size: 50px;
    line-height: 65px;
    text-align: left;
    font-weight: 300;
    padding-bottom: 35px;
  }
  &__descr{
    padding-bottom: 62px;
    line-height: 29px;
    color: #bbbbbb;
  }
  &__button{
    padding: 13px 42px;
    font-size: 25px;
    &:hover{
      background-color: #fe609f;
      box-shadow: 0px 5px 33.6px 1.4px rgba(254, 96, 159, 0.29);
    }
  }
}

.blockquote{
  padding: 164px 150px  246px 291px;
  @media (max-width: $xlg) {
    padding: 54px 100px 126px 161px;

  }
  @media (max-width: $xs) {
    padding: 40px 0px 68px 0px;
  }

  &__img{
    position: relative;
    right: 139px;
    top: 120px;
    @media (max-width: $xs) {
      right: 39px;
      top: 20px;
    }
  }
  &__heading{
    font-size: 34px;
    line-height: 54.25px;
    padding-top: 5px;
    padding-bottom: 90px;
    @media (max-width: $sm){
      text-align: center;
    }
  }
  &__descr{
    font-size: 20px;
    padding-bottom: 13px;
  }
  &__link{
    font-size: 15px;
    color: #a1a1a1;
  }
}

.slider{
  // padding: 320px 0px 99px 662px;
  padding: 222px 0px 259px 662px;
  // padding: 320px 123px 99px 662px;
  @media (max-width: $lg){
    padding: 315px 3px 99px 582px;
  }
  @media (min-width: $xlg) {
    padding: 320px  213px 99px 852px;
  }
  @media (max-width: $md){
    padding: 86px 0px 675px 0px;
  }
  @media (max-width: $xs){
    padding: 16px 0px 725px 0px;
  }
  &2{
    padding: 222px 0px 284px 682px;
    // padding: 292px 123px 99px 662px;
    @media (max-width: $lg){
      padding-top: 287px;
    }
    @media (min-width: $xlg){
      padding-top: 292px;
    }
    @media (max-width: $xs){
      padding-bottom: 752px;
    }
  }
  &__heading{
    font-size: 38px;
    line-height: 55px;
    padding-bottom: 29px;
  }
  &__descr{
    font-size: 16px;
    line-height: 28px;
    color: #bbbbbb;
    padding-bottom: 31px;
    @media (max-width: $xs){
      padding-bottom: 31px;
    }
  }
}

.advantages{
  padding: 67px 0 173px 0;
  @media (max-width: $xs) {
    padding-bottom: 0;
  }

  &__heading{
    color: #cecece;
    font-size: 16px;
    padding-bottom: 92px;
    @media (max-width: $xs) {
      padding-bottom: 62px;
    }
  }
  &__items{
    overflow: hidden;
  }
}

.adv{
  max-width: 22%;
  float: left;

  &:not(:last-child){
    margin-right: 220px;

    @media (max-width: $xlg) {
      margin-right: 70px;
    }
  }
  @media (max-width: $xlg) {
    max-width: 28%;
  }
  @media (max-width: $md) {
    float: none;
    max-width: 100%;
    margin-right: 0 !important;
    margin-bottom: 100px;
  }
  &__num{
    color: #ff81a2;
    font-size: 77px;
    padding-bottom: 53px;
    font-weight: 200;
    @media (max-width: $xs) {
      padding-bottom: 23px;
    }
  }
  &__heading{
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 37px;
  }
  &__descr{
    font-size: 14px;
    color: #656565;
    line-height: 24px;
  }
}
.personal{
  max-width: 422px;
  @media (max-width: $xlg){
    max-width: 30%;
    padding-right: 0;
  }
  @media (max-width: $lg){
    max-width: 37%;
    padding-right: 0;
  }
  &__heading{
    font-size: 38px;
    padding-bottom: 45px;
    padding-top: 83px;
    @media (max-width: $xlg) {
      padding-top: 43px;
    }
  }
  &__descr{
    color: #bbbbbb;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 67px;
    @media (max-width: $xs){
      padding-bottom: 0;
    }
  }
  &__slides li{
    display: inline-block;
    &:not(:last-child){
      padding-right: 54px;
      @media (max-width: $xs){
        padding-right: 34px;
      }
    }
  }
}
.wrap-personal{
  @media (max-width: $xs) {
    padding-top: 43px;
    display: flex;
    flex-direction: column-reverse;
  }
}
.courses{
  padding: 110px 0 97px;
  &__heading{
    font-size: 38px;
    padding-bottom: 19px;
  }
  &__descr{
    font-size: 17px;
    color: #bbbbbb;
    padding-bottom: 69px;
  }
  &__footer{
    a{
      font-size: 22px;
      color: #fe609f;
    }
  }
}

.configurator{
  width: 85%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 13px;
  background-color: #232323;
  padding-bottom: 57px;
  padding-top: 52px;
  margin-bottom: 58px;
  @media (max-width: $xlg){
    width: 100%;
  }
  &__content{
    border-right: 1px dashed #3b3b3b;
    float: left;
    padding: 0 37px;
    display: flex;
    flex-direction: column;
    @media (max-width: $xlg){
      padding: 0 15px
    }
    @media (max-width: $lg){
      float: none;
      align-items: center;
      margin-bottom: 20px;
    }
    @media (max-width: $sm){
      float: left;
    }
  }
  &__sidebar{
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    float: left;
    padding: 0 40px;
    @media (max-width: $xlg){
      padding: 0 15px
    }
    @media (max-width: $lg){
      flex-direction: row;
      float: none;
      padding: 30px 48px 0;
    }
    @media (max-width: $sm){

      flex-direction: column;
      align-items: left;
    }
  }
}


.choose{

  overflow: hidden;
  &:not(:last-child){
    padding-bottom: 45px;
  }

  &-main{
    overflow: hidden;
    // padding-bottom: 71px !important;
    .choose__button{
      width: 256px;
      height: 45px;
      padding: 17px 110px 14px 20px;
      &:not(:last-child){
        margin-right: 19px;

      }
    }
    .choose__heading{
      padding-bottom: 29px;
      padding-left: 21px;
    }
  }
  &__heading{
    padding-bottom: 19px;
    padding-left: 21px;
    font-size: 26px;

  }
  &__items{
    overflow: hidden;
  }
  &__button{
    font-size: 14px;
    float: left;
    width: 257px;
    height: 229px;
    padding: 27px 22px 0 21px;
    @media (max-width: $md){
      width: 100% !important;
    }
    &:not(:last-child){
      margin-right: 19px;
      @media (max-width: $md){
        margin-bottom: 15px;
      }
    }
    &-heading{
      font-size: 15px;
      font-weight: 500;
      padding-bottom: 22px;
    }
    &-descr{
      color: #d0d0d0;
      font-size: 11px;
      line-height: 17px;
    }
  }
}

.sidebar{
  &__heading{
    font-size: 26px;
    padding-bottom: 22px;
    @media (max-width: $lg){
      font-size: 18px;
    }
  }
  &__item{
    & li{
      color: #d0d0d0;
      font-size: 12px;
      padding-bottom: 11px;
      max-width: 193px;
      line-height: 16px;
    }
    &1{
      padding-bottom: 34px;
    }
    &2{
      padding-bottom: 43px;
    }
    &3{
      padding-bottom: 52px;
    }
  }
  &__price{

  }
  &__num{
    font-size: 40px;
    font-weight: 200;
    display: inline-block;
    padding-right: 15px;
  }
  &__act{
    border-bottom: 1px dashed #9d9d9d;
    display: inline-block;
    color: #d0d0d0;
    font-size: 12px;
  }
}

.pay{
  &__heading{
    color: #d0d0d0;
    font-size: 12px;
    padding-bottom: 14px;
    text-align: center;
  }
  &__button{
    padding: 12px 47px;
    text-align: center;
    display: block;
    width: 205px;
    height: 39px;
    &:not(:last-child){
      margin-bottom: 17px;
    }
  }
}

.feedback{
  padding-top: 72px;
  padding-bottom: 150px;
  &__heading{
    font-size: 38px;
    padding-bottom: 34px;
  }
  &__descr{
    font-size: 14px;
    color: #656565;
    line-height: 25px;
    padding-bottom: 83px;
  }
  &__line{
    height: 2px;
    background-color: #ececec;
  }
  &__items{
    overflow: hidden;
    &:last-child{
      margin-top: 75px;
    }
  }
}

.review{
  padding-bottom: 200px;
  &:not(:last-child){
    padding-right: 68px;
    @media (max-width: $md){
      padding-right: 0;
    }
  }
  &__text{
    padding: 37px 83px 39px 41px;
    font-size: 14px;
    border-radius: 25px;
    background-color: #f7f7f7;
    @media (max-width: $xlg){
      min-height: 244px;
    }
    @media (max-width: $lg){
      min-height: 269px;
    }
    @media (max-width: $md){
      min-height: 388px;
    }
  }
  &__heading{
    line-height: 24px;
    padding-bottom: 35px;
  }
  &__descr{
    text-decoration: underline;
    color: #656565;
  }
  &__triangle{
    position: relative;
    bottom: 47px;
    left: 34px;
  }
  &__image{
    box-shadow: 0 18px 36px 2px rgba(254, 96, 159, 0.3);
    border-radius: 100px;
    position: relative;
    right: 45px;
    top: 46px;
    max-width: 70px;
  }
}

.faq{
  overflow: hidden;
  padding: 65px 0 89px;
  &__heading{
    font-size: 38px;
    padding-bottom: 44px;
  }
  &__col{
    float: left;
    max-width: 50%;
    @media (max-width: $xs){
      float: none;
      max-width: 100%;
    }
    &:first-child{
      padding-right: 88px;
      @media (max-width: $xs){
        padding-right: 0;
        margin-bottom: 35px;
      }
    }
  }
}

.question{
  padding-left: 30px;
  transition: all .5s;
  cursor: pointer;
  &:not(.question-active):hover{
    color: #fe609f;
  }
  &:hover .question__arrow{

  }
  &-active{
    padding: 29px 8px 30px 31px;
    border-radius: 8px;
    background-color: #1e1e1e;
    margin-top: -29px;
    transition: all .5s;
    .question__descr{
      display: block;
    }
  }
  &:not(:nth-child(7n)){
    margin-bottom: 35px;
  }
  &__heading{
    padding-bottom: 21px;
  }
  &__arrow{


  }
  &__descr{
    font-size: 14px;
    line-height: 24px;
    display: none;
  }
}

.advice{
  overflow: hidden;
  padding-bottom: 117px;
  padding-top: 45px;
  cursor: pointer;
  &:not(:last-child){
    padding: 85px 0 0 0;
  }
  @media (max-width: $xs){
    padding: 85px 0 97px;
  }


  &__heading{
    font-size: 38px;
    padding-bottom: 54px;
  }
  &__img{
    display: block;
    float: left;
    max-width: 55%;
    margin-right: 79px;
    box-shadow: 0 3px 49px 8px rgba(25, 25, 25, 0.22);
    @media (max-width: $xs){
      float: none;
      max-width: 100%;
      margin-right: 0;
    }
  }
  &__text{
    max-width: 35%;
    float: left;
    @media (max-width: $xs){
      float: none;
      max-width: 100%;
      padding-top: 39px;
    }
  }
}

.guideline{
  padding-top: 109px;
  &__heading{
    font-size: 30px;
    padding-bottom: 31px;
  }
  &__descr{
    font-size: 14px;
    line-height: 26px;
    color: #656565;
    padding-right: 119px;
    @media (max-width: $xs){
      padding-right: 0;
    }
  }
}

.partners{
  padding: 165px 0 196px;
  &__heading{
    font-size: 38px;
    padding-bottom: 110px;
  }
  &__row:not(:last-child){
    padding-bottom: 155px;
  }
  &__img:not(:last-child){
    padding-right: 200px;
    @media (max-width: $xlg) {
      padding-right: 134px;
    }
    @media (max-width: $lg) {
      padding-right: 75px;
    }
  }
}

.footer{
  padding: 18px 0;
  & p{
    display: inline-block;
    min-width: 33%;
    @media (max-width: $lg){
      min-width: 32%;
    }
    @media (max-width: $xs){
      min-width: 42%;
    }
  }
  &__copy{
    text-align: center;
    @media (max-width: $xs){
      min-width: 10% !important;
    }
    & img{
      position: relative;
      top: 8px;
      right: 13px;
    }
    span{
      @media (max-width: $md){
        display: none;
      }
    }
  }
  &__email{
    // text-align: right;
    text-align: left;
  }
}

.about{
  padding: 196px 159px 192px 708px;
  @media (max-width: $xlg) {
    padding: 196px 9px 192px 528px;
  }
  @media (max-width: $lg) {
    padding: 196px 9px 192px 408px;
  }
  @media (max-width: $md) {
    padding: 196px 0px 192px 0px;
    // padding: 196px 9px 192px 58px;
  }
  &__heading{
    font-size: 38px;
    padding-bottom: 39px;
  }
  &__descr{
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 31px;
  }
  &__link{
    font-size: 16px;
    border-bottom: 1px dashed #949494;
  }
  &__close{
    position: absolute;
    top: 50px;
    right: 50px;
  }
  &__coach{
    position: absolute;
    left: 15%;
    p{
      text-align: center;
    }
    img{
      max-width: 295px;
    }
    &-2{
      top: 570px;
    }
  }
}

.discount{
  padding: 262px 0 271px;
  @media (max-width: $md){
    padding: 102px 0 271px;
  }
  &__heading{
    font-size: 26px;
    float: left;
    padding: 0 156px 57px 0;
    @media (max-width: $md){
      float: none;
      padding-right: 0
    }
  }
  &__descr{
    font-size: 14px;
    line-height: 23px;
    color: #bbbbbb;
    float: left;
    @media (max-width: $md){
      float: none;
      padding-bottom: 15px;
    }
  }
  form{
    max-width: 700px;
    margin: 0 auto;
    @media (max-width: $sm){
      max-width: 460px;
    }
    @media (max-width: $xs){
      max-width: 300px;

    }

  }
  input{
    border: 1px solid #464646;
    border-radius: 5px;
    background-color: black;
    width: 327px;
    height: 45px;
    padding-left: 24px;
    color: #fff;
    padding-top: 3px;
    &:focus{
      outline-color:#fe609f;
    }
    @media (max-width: $md){
      display: block;
      width: 457px;
    }
    @media (max-width: $xs){
      width: 260px;
    }
  }

  &__button{
    width: 697px;
    height: 56px;
    background-color: #fe609f;
    box-shadow: 0 5px 34px 1px rgba(254, 96, 159, 0.29);
    font-size: 18px;
    color: #ffffff;
    @media (max-width: $md){
      width: 457px;
    }
    @media (max-width: $xs){
      width: 260px;
    }
  }
  .first{
    margin-right: 42px;
    margin-bottom: 27px;
  }
  .second{
    margin-bottom: 27px;
  }
  .third{
    margin-right: 42px;
    margin-bottom: 45px;
    @media (max-width: $md){
      margin-bottom: 27px;
    }
  }
  .fourth{
    margin-bottom: 45px;
  }
}

//TODO pereverstat' etot kal
.partnership{
  max-width: 1070px;
  margin: 0 auto;
  @media (max-width: $sm){
    max-width: 405px;
  }
  &__heading{
    font-size: 26px;
    padding-bottom: 24px;
  }
  &__descr{
    overflow: hidden;
    font-size: 14px;
    color: #bbbbbb;
    font-size: 14px;
    line-height: 23px;
    p{
      max-width: 515px;
      float: left;
      padding-bottom: 63px;
      &:first-child{
        width: 402px;
        margin-right: 153px;
      }
      @media (max-width: $lg){
        max-width: 355px;
      }
    }
    span{
      font-size: 38px;
      padding: 0 13px;
    }
  }
  &__item{
    overflow: hidden;
  }
  &__img{
    float: left;
    overflow: hidden;
    &:not(:last-child){
      margin-right: 155px;
      @media (max-width: $lg){
        margin-right: 95px;
      }
    }
    img{
      padding-bottom: 14px;
      @media (max-width: $sm){
        max-width: 290px;
      }

    }
    p{
      color: #bbbbbb;
      font-size: 14px;
    }
  }
  &__button{
    background-color: #fe609f;
    width: 252px;
    height: 45px;
    color: #ffffff;
    margin-top: 76px;
  }
}


/*   MENU ICON
/*-----------------------------------------------------------------------------------*/

.nav-bars {
  width: 30px;
  height: 30px;
  display: none;
  @media (max-width: $md){
    position: absolute;
    top: 15px;
    right: 25px;
    display: block;
  }
  span {
    display: block;
    width: inherit;
    position: absolute;
    top: 13px;
    left: 0px;
    right: 0px;
    height: 3px;
    background: #2e2e2e;
    transition: background 0s 0.3s;
    &::before,&::after{
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #2e2e2e;
      content: "";
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }
    &::before{
      top: -8px;
      transition-property: top, transform;
    }
    &::after{
      bottom: -8px;
      transition-property: bottom, transform;
    }
  }
  &.is-active span {
    background: none;
    transition-delay: 0s, 0.3s;
    &::before,&::after{
      transition-delay: 0s, 0.3s;
    }
    &::before{
      top: 0;
      transform: rotate(45deg);
    }
    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}
/*   MENU ICON />
/*-----------------------------------------------------------------------------------*/

#small-dialog {
  width: 100vw;
  height: auto;
  display: block;
}
.mfp-wrap{
  opacity: 0;
  transition: opacity 1s;
  background-color: #000;
}

/**
* Fade-zoom animation for first dialog
*/

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}


// slider
.swiper-container-horizontal > .swiper-pagination-progressbar{
  width: 16%;
  height: 4px;
  left: 715px;
  top: 440px;
  @media (max-width: $md){
    width: 46%;
    height: 4px;
    left: 185px;
    top: 340px;
  }
  @media (max-width: $sm){
    width: 56%;
    height: 4px;
    left: 135px;
    top: 330px;
  }
  @media (max-width: $xs){
    width: 56%;
    height: 4px;
    left: 105px;
    top: 430px;
  }
}
.feedback__items .swiper-container-horizontal > .swiper-pagination-progressbar{
  width: 100%;
  height: 2px;;
  left: 0px;
  top: 500px;
  position: initial;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #fe609f;
}
.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill{
  background: #fe609f;
}
.swiper-container2{
  width: 100%;
}
.swiper-container3{
  float: left;
  max-width: 60%;
  padding-bottom: 100px;
  overflow: hidden;
  @media (max-width: $xlg){
    margin-right: 25px;
  }
  @media (max-width: $md){
    position: absolute;
    // top: 5862px;
    max-width: 91%;
    // left: 100px;
    padding-top: 100px;

    top: 595px;
    left: 145px;
  }
  @media (max-width: $sm){
    max-width: 100%;
    // left: -20px;
    // top: 6536px;
    left: -20px;
  }
  @media (max-width: $xs){
    // // top: 6182px;
  // top: 6171px;
        // top: 6544px;
      left: -20px;
  }
  img{
    max-width: 111%;
  }

}

// .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
//     bottom: 10px;
//     left: 0;
//     position: absolute;
//     width: 100%;
//     top: 4395px;
//     left: 290px;
// }
.swiper-container3 .swiper-pagination.swiper-pagination-progressbar{
  bottom: 10px;
  left: 0;
  position: absolute;
  width: 50%;
  top: 4395px;
  left: 290px;
}

.swiper-pagination-progressbar{
  height: 2px !important;
}
.progressBarSlider{
  &__item{
    height: 1px;
    background-color: #4a4a4a;
    display: inline-block;
    width: 15%;
    margin-right: 5px;
    &-active{
      width: 30%;
      background-color: #fe609f;
    }
  }
}

// .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
//   color: #fff;
//   text-align: inherit;
//   bottom: -3329px;
//   width: 36%;
//   left: 825px;
//
//   @media (max-width: $xlg){
//     bottom: -3469px;
//     width: 36%;
//     left: 835px;
//   }
//   @media (max-width: $lg){
//     bottom: -3549px;
//     width: 35%;
//     left: 835px;
//   }
//   @media (max-width: $md){
//     bottom: 509px;
//     left: 160px !important;
//     width: 50%;
//   }
//   @media (max-width:$sm ){
//     bottom: 439px;
//     left: 130px !important;
//     width: 90%;
//     bottom: 456px;
//
//     left: 80px !important;
//     width: 90%;
//     bottom: 467px;
//   }
//   @media (max-width: $xs){
//     left: 40px !important;
//     width: 120%;
//     bottom: 324px;
//   }
//
// }


.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    position: relative;
    top: 50px;
    left: 70px;
    width: 70%;
    @media (max-width: $md){
      top: -540px;
    }
    @media (max-width: $xs){
      top: -370px;
      width: 100%;
      left: 0;
    }
///////////////////////////////////////
}

.swiper-pagination-bullet{
  width: 143px;
  // text-align: center;
  height: auto;
  background: none;
  color: #fff;
  opacity: 1;
  border-bottom: 1px solid #6f6f6f;
  border-radius: 0;
  padding-bottom: 32px;
  margin: 0 !important;
  padding: 0 50px 32px;
  transition: box-shadow .5s;
  @media (max-width: $lg){
    padding: 0 30px 32px;
    width: 113px;
  }

  &-active{
    box-shadow: 0px 11px 17.3px -7px rgba(254, 96, 159, 0.5);
    border-bottom: solid 1px #fe609f;
  }
}

.swiper-container5 {
  // max-width: 50%;
  position: relative;
  max-width: 980px;
  overflow: hidden;
  margin: 0 auto;
  img{
    max-width: 100%;
  }
}
// .imgWrap{
// display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .reviews.swiper-slide{
//   display: flex;
//       justify-content: center;
//
// }

.swiper-button-next, .swiper-button-prev{
  width: 44px;
      border-radius: 100%;
      background-color: #fe609f;

}


.fsp-content{
  @media (max-width: $sm){
      top: 80%!important;
  }

}
.fsp-close{
  right: 1em !important;
  top: 0.5em !important;
  font-size: 45px !important;
  color: white;
}
.fsp-wrapper{
  background: rgb(0, 0, 0) !important;
}
